<header>
    <div class="row">
        <div class="col-md-4">
            <img src="images\PeakMedical-logo.png" alt="Peak Medical Tech Logo">
        </div>
        <div class="col-md-8">
            <h1>Peak - Cobas DI User Signoff</h1>
        </div>
    </div>
</header>
<body>
    <div class="container-fluid">
        <h2>Batch Review</h2>
        <form>
            <div class="form-group">
                <label for="batches">Select a batch to review:</label>
                <select name="batches" class="form-control" id="batches" [(ngModel)]="selectedBatch" (ngModelChange)="onBatchChange($event)">
                    <option *ngFor="let batch of batchList" [value]="batch.batchNumber">{{ batch.batchNumber }} - {{ batch.batchRunUser }}</option>
                </select>
            </div>
        </form>
    </div>

    <div *ngIf="selectedBatch" class="container-fluid">
        <h2>Details for Batch {{selectedBatch}}</h2>
        <div *ngFor="let b of batchDetails" class="row">
            <div class="col-md-2">{{ b.accessionNumber }}</div>
            <div class="col-md-10">
                <div class="row" *ngFor="let t of b.tests">
                    <div class="col-md-2">{{ t.code }}</div>
                    <div class="col-md-2">{{ t.result }}</div>
                </div>
            </div>
        </div>
    </div>

</body>
