<header>
    <div class="row">
        <div class="col-md-4">
            <img src="images\PeakMedical-logo.png" alt="Peak Medical Tech Logo">
        </div>
        <div class="col-md-8">
            <h1>Peak - Cobas DI User Signoff</h1>
        </div>
    </div>
</header>
<body>
    <div class="container-fluid">
        <h2>Batch Review</h2>
        <form>
            <div class="form-group">
                <label for="batches">Select a batch to review:</label>
                <select name="batches" class="form-control" id="batches" [(ngModel)]="selectedBatch" (ngModelChange)="onBatchChange($event)">
                    <option *ngFor="let batch of batchList" [value]="batch.batchNumber">{{ batch.batchNumber }} - {{ batch.batchRunUser }}</option>
                </select>
            </div>
        </form>
    </div>

    <div *ngIf="batchDetails" class="container-fluid">
        <h2>Details for Batch {{ batchDetails.batchNumber }}. <br /><small>This batch was initially ran by user {{ batchDetails.batchRunUser }}</small></h2>
        <table class="table">
            <tr>
                <th>Accession Number</th>
                <th>Test</th>
                <th>Result</th>
            </tr>
            <template ngFor let-case [ngForOf]="batchDetails.cases">
                    <tr>
                        <td [attr.rowspan]="case.tests.length + 1">{{ case.accessionNumber }}</td>
                    </tr>
                    <tr *ngFor="let test of case.tests" [class]="flagResult(test)">
                        <td>{{ test.code }}</td>
                        <td>{{ test.result }}</td>
                    </tr>
            </template>
        </table>
    </div>

</body>
