<div *ngIf="errorMessage"  class="container-fluid">
    <div class="alert alert-danger">{{ errorMessage }}</div>
</div>

<div class="container-fluid page-header">
    <h2>Batch Review</h2>
</div>

<div *ngIf="queryStatusMessage && !selectedBatch" class="container-fluid">
    <div [class]="queryStatus">{{ queryStatusMessage }}</div>
</div>

<div *ngIf="!errorMessage">

    <div class="container-fluid">
        <div *ngIf="batchListCount > 0">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="batches">Select a batch to review:</label>
                            <select name="batches" class="form-control" id="batches" [(ngModel)]="selectedBatch">
                                <option *ngFor="let batch of batchList" [value]="batch.batchNumber">{{ batch.batchDateString | date:'dd-MMM-y HH:mm' }}  -  performed by user {{ batch.batchRunUser }}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="batchListCount < 1">
            <div class="col-md-12">There are currently no batches available to review.</div>
        </div>
    </div>

    <div *ngIf="selectedBatch">
        <batch-detail [batchNumber]="selectedBatch" (done)="batchDetailProcessed($event)"></batch-detail>
    </div>

</div>