/* Master Styles */
header {
  color: #ffffff;
  background-color: #2a3133;
  margin-bottom: 0.5em;
}

header h1 {
  font-size: 250%;
  margin-bottom: 0.5em;
}


div.row {
  padding-bottom: 0.25em;
}

.alert {
  white-space: normal;
}

.btn-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
 .btn-fixed>button {
   margin-bottom: 10px;
 }